<!DOCTYPE html >
<html>
  <head>
      <title>Articles</title> 
  </head>

  style
      include style.css

  <body>
    <h1> Liste des articles de notre super site fait dans un super cours</h1>

    <table id="articleTable">
      <tr>
        <th>Nom de l'article</th>
        <th>Auteur de l'article</th>
        <th>Date de rédaction</th>
        <th>Résumé</th>
        <th>Ajouter</th>
        <th>Supprimmer</th>
      </tr>
      each doc in allDoc
        <tr>
          <td>#{doc.titre}</td>
          <td>#{doc.auteur}</td>
          <td>#{doc.date}</td>
          <td>#{doc.resume}</td>
          <td><a href="http://localhost:8000/post/create">+</a></td>
          <td><a href="http://localhost:8000/post/delete/#{doc.id}">-</a></td>
        </tr>
    </table>

  </body>
</html>
