#articleTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#articleTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#articleTable tr:nth-child(even){background-color: #f2f2f2;}

#articleTable tr:hover {background-color: #ddd;}

#articleTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
}